{% extends 'LabsLimitlessTplBundle::loyout_limitless.html.twig' %}
{% block body %}
    <div class="page-content">
        {% block loyout_body %}
        {% endblock loyout_body %}
    </div>
{% endblock %}