/**************other css*******/
.displayBlock{
    display: block;
}

.displayNone{
    display: none;
}

.bg-slate-data
{
    background-color: #8EB613;
    border-color: #F5F5F5;
    color: #fff;
}